{% extends 'base.html' %}
{% block title %}Social Blog - {{user.username}}{% endblock %}
{% block body %}
   <link rel="stylesheet" href="{{url_for('static',filename='css/user.css')}}">
    <div class="my-2">
        {% if profilepic %}
            <img class="rounded-circle" src="data:image/png;base64,{{profilepic}}" style="height: 100px; width: 100px;">
        {% else %}
            <img class="rounded-circle" src="{{url_for('static',filename='OIP.jpg')}}" style="height: 100px; width: 100px;">
        {% endif %}
        
    </div>

    <div class="page-header">
        <h1>{{user.username}}</h1>
        {% if user.name or user.location %}
            <p>
                {% if user.name %}{{user.name}}{% endif %}
                {% if user.location %}
                    From <a href="http://maps.google.com/?q={{user.location}}">{{user.location}}</a>
                {% endif %}
            </p>
            <p>
                {% if user.about_me %}
                    {{user.about_me}}
                {% endif %}
            </p>
            <p>
                Member since {{moment(user.member_since).format('L')}}.
                Last seen {{ moment(user.last_seen).fromNow() }}.
            </p>
        {% endif %}
    </div>
    <div class="my3">
        <h5>
            <a><b>Following </b>{{user.followed.count()}} | </a>
            <a><b>Followers </b>{{user.followers.count()}}</a>
        </h5>
        {% if user.is_authenticated and user!=current_user%}
            {% if current_user.is_following(user.username) %}
                <a  class="btn btn-outline-primary" role="button" href="{{url_for('unfollow',username=user.username)}}">Unfollow</a>
            {% else %}
                <a class="btn btn-outline-primary" role="button" href="{{url_for('follow',username=user.username)}}">Follow</a>
            {% endif %}
            <a class="btn btn-outline-primary" role="button" href="{{url_for('message',username=user.username)}}">Message</a>

        {% endif %}
    </div>
    {% if user==current_user %}
        <a class="btn btn-outline-primary" href="{{url_for('edit_profile')}}" role="button">Edit Profile</a>
        <a class="btn btn-outline-primary" href="{{url_for('post')}}" role="button">Post</a>
    {% endif %}
    
    <div class="my-3 mx-1 image-container">
        {% for post in posts %}
        <a href="{{url_for('post_view',username=user.username,file_name=post.file_name)}}">
            <img onmouseover="mouse_over()" src="data:image/png;base64,{{post.post}}" style="height: 99px; width: 99px; transition-duration: 0.5s; margin: 3px;
            border-radius: 10px; object-fit: cover;">
        </a>
        {% endfor %}
    </div>
{% endblock body %}